<!-- throw this in your App_Config\Include directory and swap out the assembly reference as needed -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <itemManager defaultProvider="default">
      <providers>
        <add name="default" type="Sitecore.Data.Managers.ItemProvider, Sitecore.Kernel">
          <patch:attribute name="type">MyWebsite.Providers.SecurityItemProvider.ItemProvider, MyWebsite.Providers</patch:attribute>
        </add>
      </providers>
    </itemManager>
  </sitecore>
</configuration>