<?xml version="1.0" encoding="utf-8" ?>
<!-- this file goes in your App_Config/Include just like all other sitecore configuration tweaks -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- URL for an api that you may want to interact with -->
      <setting name="MyWebsite.ApiEndpoint" value="http://api.mysite.com/" />
      
      <!-- some environment setting that you need to retain -->
      <setting name="MyWebsite.EnvironmentSetting" value="SomeValue" />
    </settings>
  </sitecore>
</configuration>